# Terraform
**/.terraform/
*.tfstate
*.tfstate.backup
*.tfvars


# AWS Credentials
.aws/
credentials

# Python
__pycache__/
*.pyc
.env
venv/

# Secrets
*.pem
*.key
secrets/
.venv/

# Kubernetes Secrets mit echten Werten
kubernetes/secrets/secrets.local.yaml
**/.env
**/.env.local
